* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 2%;
  background: #3e434a;
}


.back{
  background: #EFEFBB;
  background: -webkit-linear-gradient(to right, #D4D3DD, #EFEFBB);
  background: linear-gradient(to right, #D4D3DD, #EFEFBB); 
}


.logo {
  cursor: pointer;
  padding-right: 50px;
  filter: drop-shadow(15px 10px 10px #222);
}

.nav__links a,
.cta,
.overlay__content a {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #edf0f1;
  text-decoration: none;
}

.nav__links {
  list-style: none;
  display: flex;
}

.nav__links li {
  padding: 0px 20px;
}

.nav__links li a {
  transition: color 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #2d9292;
}

.cta {
  padding: 9px 25px;
  background-color: #ff9e01;
  box-shadow: 0 0 15px rgb(17, 17, 17);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease 0s;
}

.cta:hover {
  background-color: #2d9292;
}


.btn-grad {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  background-image: linear-gradient(to right, #F2994A 0%, #F2C94C  51%, #F2994A  100%);
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 15px rgb(17, 17, 17);
  border-radius: 10px;
  display: block;
}

.btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
}

.cut{
  padding: 15px;
  border-radius: 30px;
  
}


/* Mobile Nav */

.menu {
  display: none;
}

.overlay {
  cursor: pointer;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background: rgb(199,174,238);
  background: radial-gradient(circle, rgba(199,174,238,0.3785889355742297) 0%, rgba(62,67,74,0.8267682072829132) 71%);
  overflow-x: hidden;
  transition: width 0.5s ease 0s;
}

.overlay--active {
  width: 100%;
}

.overlay__content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay a {
  padding: 15px;
  font-size: 36px;
  display: block;
  transition: color 0.3s ease 0s;
}

.overlay a:hover,
.overlay a:focus {
  color: #2d9292;
}
.overlay .close {
  cursor: pointer;
  position: absolute;
  top: 0px;
  right: 40px;
  font-size: 60px;
  color: #edf0f1;
}

@media screen and (max-height: 450px) {         /*LANDSCAPE*/
  .overlay a {
    font-size: 20px;
  }
  .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@media only screen and (max-width: 800px) {       /*MOBILE*/
  .nav__links,
  .cta {
    display: none;
  }
  .menu {
    display: initial;
  }
}
