* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 4%;
  background: rgb(52,62,122);
  background: linear-gradient(90deg, rgba(52,62,122,1) 0%, rgba(48,135,134,1) 55%, rgba(255,158,1,1) 100%);
}


.back{
  background: #EFEFBB;
  background: -webkit-linear-gradient(to right, #D4D3DD, #EFEFBB);
  background: linear-gradient(to right, #D4D3DD, #EFEFBB); 
}

.back2{
  background-image: linear-gradient( 174.2deg,  rgba(255,244,228,1) 7.1%, rgba(240,246,238,1) 67.4% );
}

.logo {
  cursor: pointer;
  padding-right: 50px;
}

.nav__links a,
.cta,
.overlay__content a {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #edf0f1;
  text-decoration: none;
}

.nav__links {
  list-style: none;
  display: flex;
}

.nav__links li {
  padding: 0px 20px;
}

.nav__links li a {
  transition: color 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #a96500;
}

.cta {
  padding: 9px 25px;
  background-color: #343e7a;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease 0s;
}

.cta:hover {
  background-color: #2d9292;
}

/* Mobile Nav */

.menu {
  display: none;
}

.overlay {
  cursor: pointer;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background: rgb(52,62,122);
  background: linear-gradient(90deg, rgba(52,62,122,1) 0%, rgba(48,135,134,1) 55%, rgba(255,158,1,1) 100%);
  overflow-x: hidden;
  transition: width 0.5s ease 0s;
}

.overlay--active {
  width: 100%;
}

.overlay__content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay a {
  padding: 15px;
  font-size: 36px;
  display: block;
  transition: color 0.3s ease 0s;
}

.overlay a:hover,
.overlay a:focus {
  color: #a96500;
}
.overlay .close {
  cursor: pointer;
  position: absolute;
  top: 0px;
  right: 40px;
  font-size: 60px;
  color: #edf0f1;
}

@media screen and (max-height: 450px) {         /*LANDSCAPE*/
  .overlay a {
    font-size: 20px;
  }
  .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@media only screen and (max-width: 800px) {       /*MOBILE*/
  .nav__links,
  .cta {
    display: none;
  }
  .menu {
    display: initial;
  }
}
